.iniciocarrito {
    color: red; /* Cambia el color del texto a rojo */
    font-weight: bold; /* Hace que el texto sea negrita */
    background-color: yellow; /* Cambia el fondo a amarillo */
  }
  